@import '../../App.css';

.element {
    border-radius: 8px;

    background-color: var(--color1);
}

.element h2 {
    padding: 4px 0px;
    font-size: 2em;
    font-family: var(--main-font);
    text-align: center;

    color: var(--color4);
    border-bottom: 1px solid var(--color4);
}

.mainDescriptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    padding: 10px;
    padding-bottom: 20px;
}

.element span {
    min-width: 220px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 10px;

    background-color: var(--color2);
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
}

.element p {
    font-size: 1.5em;
}