@import '../../App.css';

.gameList {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}

.gameList a {
    text-decoration: none;
}