@import '../../App.css';

.card {
    max-width: 300px;
    max-height: 350px;
    text-align: center;
    overflow: hidden;
    border-radius: 12px;

    background-color: var(--color4);
    cursor: pointer;
    transition-duration: .3s;
}

.card:hover {
    transform: scale(1.025);
    transition-duration: .3s;
}

.card img {
    width: 300px;
    height: 168px;
}

.card h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 58px;

    color: var(--white);
}

.card p {
    text-align: justify;
    padding: 5px;
    height: 98px;

    background-color: var(--color2);
    color: var(--color0);
}