@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

:root {
    --color0:#242424;
    --color1:#686868;
    --color2:#d4e0df;
    --color3:#6bc7b8;
    --color4:#3aad9a;

    --white: #f1f1f1;
}

body {
    background-color: var(--white);
}