@import '../../App.css';

.periodicTable {
    padding: 20px;

    background-color: black;
    border-top: 1px solid var(--color4);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container img {
    max-width: 600px;
}

.container article {
    flex: 1;
}

.container h2 {
    margin-bottom: 10px;
    font-size: 2em;

    color: var(--color4);
}

.container p {
    text-align: justify;
    font-family: var(--main-font);
}

@media (max-width: 1028px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container img {
        max-width: 100%;
    }

    .container article {
        max-width: 100%;
    }
}