* {
    font-family: Helvetica, Arial, sans-serif;
    color: #2b2b2b;
}


.paper {
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;

    background-color: aliceblue;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.title1 {
    margin-bottom: 20px;
    padding: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;

    background-color: #464646;
    color: white;
}

.title2 {
    margin: 20px 0px;
    padding: 5px;
    text-align: center;
}

.commomArticle {
    text-align: justify;
}

.exampleBox {
    margin: 20px 0px;
    padding: 10px;
    border-radius: 8px;

    background-color: #bfdae9;
}

.commomButton {
    display: block;
    min-height: 30px;
    min-width: 55px;
    padding: 5px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 3px;

    border: none;
    background-color: #008cff;
    box-shadow: 2px 2px 3px #00000033;
    color: white;

    cursor: pointer;
    transition-duration: 0.4s;
}

.commomButton:hover {
    background-color: #2085d8;

    transition-duration: 0.4s;
}

.commomButton:active {
    box-shadow: none;
}