@import '../../App.css';

.labHeader {
    margin-bottom: 50px;
}

.labHeader  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.labHeader h2 {
    font-size: 2em;
    padding: 20px 0px;
    margin-right: 40px;
}

.labHeader svg {
    font-size: 2.5em;
    padding: 20px 0px;
    margin-left: 40px;

    cursor: pointer;
}